<!DOCTYPE html>
<html>
<head>
<style>
  
.cente {
  background-color: lightgrey;
  width: 350px;
  height:200px;
  position: fixed; /* or absolute */
  top: 25%;
  
  left: 32%;
  right:50%;
  
  
  border: 15px solid rgb(58, 59, 58);
  padding: 25px;
  margin: 25px;
}

</style>
</head>
<body align='center'>
  <div class = 'cente'>
User Name:
<input type="text" id="userName" required
[(ngModel)]="model.userName" name="userName">
<br/><br/>
Password:
<input type="password" id="passWord" required
[(ngModel)]="model.passWord" name="passWord">
<br/><br/>
<input type="button" value="Login" (click)="Login(empId)"/>
</div>
</body>
</html>